extend /layout

append variables
  - bodyClasses = ['wrapper', 'wrapper--nobackground'];

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action='/my/categories' method='POST' enctype="multipart/form-data")
          input#add-form-add-category(type='text' name='add-category' placeholder='Новая категория' value=(newCategory ? newCategory.name : ``))
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
        if creationValidationMessages
          each error in creationValidationMessages
            p.form__error-message #{error}

      if categories.length
        ul.category__list
          each category in categories
            li.category__list-item
              form(action=`/my/categories/${category.id}` method="POST" enctype="multipart/form-data")
                input(id=`#modify-form-category-${category.id}` type='text' name=`category-${category.id}` value=(updatedCategory && updatedCategory.id === category.id ? updatedCategory.name : category.name))
                label(for=`modify-form-category-${category.id}`)
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                a.category__button.button.button--category(href=`/my/categories/${category.id}`) Удалить
            if updatedCategory && updatedCategory.id === category.id && updateValidationMessages
              each error in updateValidationMessages
                li.category__list-item
                  p.form__error-message #{error}
            if deletedCategory && deletedCategory.id === category.id && deleteValidationMessages
              each error in deleteValidationMessages
                li.category__list-item
                  p.form__error-message #{error}
